@charset "utf-8";
.main {
	width: 300px;
	margin: 0 auto;
}
.up ul {
	overflow: hidden;
	border-bottom: 1px solid red;
}
.up ul li {
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}
.up div {
	width: 300px;
	height: 20px;
	background-color: blue;
}
.up .min {
	background-color: yellow;
}