@charset "utf-8";
.main {
	width: 600px;
	margin: 0 auto;
}
.main h3 {
	width: 120px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	font-size: 26px;
}
.lab {
	width: 600px;
	height: 100px;
}
.age {
	width: 290px;
	height: 50px;
	margin-right: 10px;
	float: left;
}
.but {
	width: 300px;
	height: 50px;
	margin: 0 auto;
}
#sult {
	width: 200px;
	height: 50px;
	margin: 0 auto;
	font-size: 20px;
}
#sult span {
	width: 50px;
	height: 50px;
	margin-left: 10px;
}