@charset "utf-8";
.main {
	position: relative;
	width: 400px;
	margin: 100px auto;
}
.conLeft {
	float: left;
	width: 200px;
	height: 200px;
}
.conLeft span {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 100px;
	height: 100px;
	background-color: gray;
	opacity: 0.4;
	/*鼠标十字架*/
	cursor: crosshair;
}
.conLeft img {
	display: block;
	width: 200px;
	height: 200px;
}
.conRight {
	overflow: hidden;
	display: none;
	float: left;
	width: 200px;
	height: 200px;
}
.conRight img {
	display: block;
	width: 400px;
	height: 400px;
}